<div class="container">
  <label class="h4 bg-light">マイページ</label>
  <div class="row mb-2">
    <div class="col-lg-8">
      <table class="mb-3">
        <tbody>
          <tr>
            <th>登録情報</th>
            <td><%= link_to "編集する", customers_edit_path, class:"btn btn-success ml-5" %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mb-5">
        <tbody>
          <tr>
            <td class="table-active">氏名</td>
            <td><%= (@customer.last_name + "　" + @customer.first_name) %></td>
          </tr>
          <tr>
            <td class="table-active">カナ</td>
            <td><%= (@customer.last_name_kana + "　" + @customer.first_name_kana) %></td>
          </tr>
          <tr>
            <td class="table-active">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="table-active">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="table-active">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="table-active">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <th>配送先一覧</th>
            <td><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary ml-5" %></td>
          </tr>
          <tr>
            <th>注文履歴</th>
            <td><%= link_to "一覧を見る", orders_path, class:"btn btn-primary ml-5" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
