<table>
  <tbody>
    <tr>
      <td>ジャンル検索</td>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= link_to genre.name, genre_path(genre) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトです。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要です。
</p>

<h2>新着商品</h2>
<% @items.last(4).each do |item| %>
  <%= attachment_image_tag item, :image, :fill, 150, 150, fallback: 'no-image.jpg' %><br>
  <%= link_to item.name, item_path(item) %><br>
  ¥<%= (item.price*1.1).floor.to_s(:delimited) %><br>
<% end %>


<%= link_to "全ての商品を見る", items_path %>