<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
      <label class="h4 bg-light">会員一覧</label>
      <div class="customer-table">
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to (customer.last_name + "　" + customer.first_name), admin_customer_path(customer), class:"text-dark" %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted == true %>
                  有効
                <% else %>
                  退会
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @customers %>
      </div>
    </div>
    <dvi class="col-xl-2"></dvi>
  </div>
  <div class="row">
    <div class="col-xl-5"></div>
    <div class="col-xl-7">
      <%= paginate @customers %>
    </div>
  </div>
</div>



