<h2>注文情報入力</h2>

<%= form_with model: @order, url: new_order_path, method: :post do |f| %>

<h3>支払方法</h3>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
<br>
<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

<h3>お届け先</h3>
<p>ご自身の住所</p>

<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

<% end %>

