<div class="container">
  <div class="row">
    <%= render 'public/genres/genre', genres: @genres %>
    <div class="col-lg-6">
      <div class="text-center">
        <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: 'no-image.jpg' %>
      </div>
    </div>
    <div class="col-lg-4">
      <h3><%= @item.name %></h3>
      <p><%= @item.introduction %></p>
      <label class="h4">¥<%= (@item.price*1.1).floor.to_s(:delimited) %> (税込)</label>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10], {:prompt => "個数選択"}, class:"mr-3" %>
        <%= f.submit "カートに入れる", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>


